.students{
  border: 1px solid black;
  width: 50%;
  margin: auto;
  border-radius: 10px;
  margin-top: 30px;
}

table{
  margin: auto;
  text-align: center;
  border-collapse: collapse;
  margin-bottom: 20px;

}

th{
  border-bottom: 1px solid black;
  background:#917FB3;
  padding: 4px 20px;
  margin: 40px;
  font-size: larger;
}

tbody tr:nth-child(odd) {
  background: #eee;

}
