<head>
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
</head>
<div class="footer">
  <div class="copyright">
  <p style="color:rgb(155, 152, 152)">copyright @2023 All rights reserved</p>
  <ul>
    <a href="https://github.com/SamarSamyE/E-Commerce" target="_blank" class="fa fa-github" style="font-size:24px;text-decoration: none;"></a>
    <a href="https://www.linkedin.com/in/samar-samy-a3a09b235" target="_blank" class="fa fa-linkedin" style="font-size:24px"></a>
  </ul>
</div>
</div>
