<div>
  <span><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/">Registration</a></span>
  <!-- <span><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/registraion">Registration</a></span> -->
  <span><a [routerLinkActiveOptions]="{exact:true}" routerLinkActive="active" routerLink="/students">Students</a></span>
  <span><a routerLinkActive="active" routerLink="/students/5">Student Details</a></span>
  <span><a routerLinkActive="active" routerLink="/nooooooooo">Error</a></span>
</div>
